/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/*Basic Properties*/
:root {
    --primary-color: #191919;
    --secondary-color: rgba(48, 47, 47, 0.90);
    --light-color: #FFF;
    --gradient-color: linear-gradient(128deg, #FE78F0 0%, #5D5FEF 100%);
    --after-effect: linear-gradient(134deg, #5D5FEF 0%, #B6B7FB 75.52%, #FE78F0 30%);
    --light-color-alt: rgba(224, 224, 224, 1);
    --glass-color: rgba(224, 224, 224, 0.15);
    --banner-text: linear-gradient(117deg, #39F0F0 0%, #3052CA 35.94%, #8F22BA 79.17%);
    --font-family: 'Poppins', sans-serif;
    /*fonts sizes*/
    --font-xsm: clamp(0.875rem, 2.50vw, 1.025rem);
    --font-sm: clamp(1.5rem, 2.50vw, 2.5rem);
    --font-lg: clamp(2.5rem, 2.5vw, 3.25rem);
    --font-xl: clamp(1rem, 2.5vw, 3.75rem);
    /*spacing*/
    --gap: 3rem;
    --gap-sm: 1.6rem;
    /*margin*/
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --items-height-sm: 1.6rem;
    --items-height-md: 10rem;
}

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    color: var(--light-color);
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    font-size: 62.5%;
    box-sizing: inherit;
    scroll-behavior: smooth;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

i {
    color: var(--light-color);
}

img {
    max-width: 100%;
    display: block;
}

input,
button {
    font: inherit;
    background: none;
    border: none;
    outline: none;
}

/*Reused Classes*/
.d-sm-none {
    display: none;
}

.text-gradient {
    background: var(--gradient-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.d-md-none {
    display: none;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.items-center {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 180px;
    height: 50px;
    background: none;
    outline: none;
    border: 2px solid var(--light-color);
    box-shadow: 8px -8px 0 var(--light-color-alt);
    color: var(--light-color);
    font-size: var(--font-xsm);
    font-weight: 300;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background: var(--light-color);
    color: var(--primary-color);
    box-shadow: none;
}

.gradient__heading {
    text-transform: uppercase;
    text-align: center;
    font-size: var(--font-lg);
    font-weight: 700;
    background: var(--gradient-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Gradient border*/

.fancy__border {
    position: relative;
}

.fancy__border::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 10px;
    padding: 2px;
    background: var(--gradient-color);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

/*Navigation*/
.nav__bar {
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 100px;
    line-height: 1.6;
    z-index: 999;
}

.nav__bar .logo {
    width: 150px;
    height: 35px;
}

.nav__bar .logo img {
    width: inherit;
    height: inherit;
}

.nav__bar .nav__items {
    display: flex;
    align-items: center;
    gap: var(--gap-sm);
}

.nav__bar .nav__items .nav__links {
    position: relative;
    padding: 0.50rem;
    text-transform: capitalize;
    font-size: var(--font-xsm);
    color: var(--light-color-alt);
    transition: all .3s;
    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 0;
        background-image: var(--banner-text);
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease-in-out;
    }
    &::after:hover {
        transform: scaleX(1);
    }
}

.nav__bar .nav__items .nav__links.current {
    color: var(--light-color);
}

.nav__bar .nav__right a i {
    font-size: var(--font-sm);
}

.toggle__menu #toggle__btn {
    cursor: pointer;
}

/*Banner*/

.banner {
    background-color: var(--primary-color);
}

.banner .banner__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: var(--sm-gap);
    overflow-y: clip;
}

.banner .banner__container .content__desc {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    padding: 10px;
}

.banner .banner__container .content__desc::before {
    content: '';
    width: 2px;
    height: 290px;
    background: var(--primary-color);
    display: block;
    position: absolute;
    left: -10px;
}

.banner .banner__container .content__desc p {
    font-size: calc(1.5 * var(--font-xl));
    text-transform: capitalize;
    color: var(--light-color-alt);
    font-weight: 700;
    line-height: 1.2;
}

.banner .banner__container .content__desc .b__heading::before {
    content: attr(data-heading);
    display: block;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--light-color-alt);
    line-height: 1;
}

.banner .banner__container .dev__img {
    width: 70%;
    object-fit: cover;
}

/* .banner .banner__container .dev__img img {
    width: 50%;
    object-fit: cover;
} */

.banner .b__social-icons {
    position: relative;
    left: 5px;
    display: flex;
    margin-top: var(--gap-sm);
    background-color: var(--primary-color);
    gap: 10px;
    width: min(330px, 100%);
    padding-right: 8px;
}

.banner .banner__container .b__social-icons a {
    font-size: var(--font-sm);
    padding: 8px 10px;
    transition: .3s;
}

.banner .banner__container .b__social-icons a:hover {
    margin-top: -8px;
}
/*ABout Me*/
.about__me {
    position: relative;
    padding-inline: clamp(16px, 2.5vw, 100px);
    padding-block: clamp(1rem, 2.5vw, 6.25rem);
}

.about__me-content {
    position: relative;
    padding-block: var(--margin-sm);
    width: 100%;
}

.heading {
    width: min(450px,100%);
    margin: 0 auto;
}

.about__me-content .about__me-description {
    width: min(1220px, 80%);
    font-size: var(--font-xsm);
    padding-block: var(--margin-sm);
    border-top: 2px solid var(--light-color-alt);
}

.about__me-content .about__me-description p {
    padding-bottom: 1rem;
}

.about__me-content .about__me-description p a {
    background: var(--gradient-color);
    font-size: 800;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about__me-content .about__btn {
    margin-top: 1.5rem;
    text-align: center;
}

.about__me-content .about__btn .btn-1{
    padding: 0.6rem 1.2rem;
}


/*About Me actions*/
.about__me-action {
    --space-top: clamp(1rem, 2.54vw, 6.25rem);
    --space-left: clamp(1rem, 2.54vw, 6.25rem);
    position: relative;
    padding: var(--space-top) var(--space-left);
}

.about__me-action .heading__data {
    width: min(320px, 100%);
    margin-bottom: var(--margin-sm);
}

.about__me-action .heading__data p {
    font-size: var(--font-xsm);
    font-weight: 500;
}

.action__list .list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    place-items: center;
    gap: 50px;
}

.list div {
    padding: 10px;
}

.list div li {
    list-style: decimal;
    list-style-position: inside;
    font-size: var(--font-xsm);
    text-transform: capitalize;
    padding-bottom: var(--gap-sm);
    font-weight: 500;
}

.list div p {
    font-size: var(--font-xsm);
    font-weight: 200;
    color: var(--light-color-alt);
}

/*Skills*/
.skills {
    position: relative;
    padding: clamp(16px, 2.50vw, 100px);
}

.skills .heading {
    padding-bottom: var(--margin-md);
}

.skills__container {
    width: min(1220px, 100%);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(230px, 100%), 1fr));
    place-items: center;
    gap: var(--gap-sm);
    transition: all .3s;
}

.skills__container .card__body {
    text-align: center;
    width: 16rem;
    height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 10px;
    transition: .3s;
    background-color: var(--primary-color);
    transition: .3s;
}

.skills__container .card__body:last-child img {
    filter: invert(1);
}

/*End gradient border*/


.skills__container .card__body .icons {
    width: 30%;
}

.skills__container .card__body .card__content .card__text {
    font-size: var(--font-xsm);
    font-weight: 500;
    padding-top: 1rem;
    text-transform: uppercase;
}


/*Services*/
.services {
    position: relative;
    padding-inline: clamp(16px, 2.50vw, 100px);
    padding-block: clamp(1rem, 2.50vw, 6.25rem);
}

.services .offers__container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 32px;
}

.services .offers__container > .offer__card {
    width: clamp(380px, 50%, 400px);
    height: 450px;
    padding: clamp(1rem, 380px, 1.85rem);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    border: 1px solid var(--light-color);
    background-color: var(--glass-color);
    backdrop-filter: blur(8px);
}

.services .offers__container .offer__card .card__title {
    font-size: var(--font-xsm);
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 12px;
    color: var(--light-color);
}

.services .offers__container .offer__card span {
    font-size: var(--font-xsm);
    font-weight: 700;
    color: var(--light-color);
    padding-bottom: 12px;
}

.services .offers__container .offer__card .card__body .package__detail {
    font-size: var(--font-xsm);
}

.services .offers__container .offer__card .card__body .package__detail > li {
    color: var(--light-color-alt);
    font-weight: 300;
    padding-bottom: 8px;
}

.services .offers__container .offer__card .card__btn {
    margin-top: 35px;
}

.services .offers__container .offer__card .card__btn .btn--secondary {
    border: 2px solid var(--light-color);
    color: var(--light-color);
    box-shadow: 8px -8px 0 var(--light-color-alt);
}

.services .offers__container .offer__card .card__btn .btn--secondary:hover {
    background-color: var(--light-color-alt);
    color: var(--primary-color);
    box-shadow: none;
}
/*my work*/

.projects {
    position: relative;
    overflow: hidden;
    padding-block: clamp(1rem, 2.50vw, 6.25rem);
}

.projects__container {
    flex-wrap: wrap;
    gap: var(--gap);
    margin-top: var(--margin-md);
}

.projects::before {
    content: '';
    width: 400px;
    height: 400px;
    background: var(--gradient-color);
    position: absolute;
    left: -100px;
    filter: blur(110px);
    opacity: .3;
    border-radius: 50%;
}

.projects::after {
    content: '';
    width: 400px;
    height: 400px;
    background: var(--gradient-color);
    position: absolute;
    right: -100px;
    bottom: 50px;
    z-index: -1;
    opacity: .3;
    filter: blur(110px);
    border-radius: 50%;
}

.project__card-body {
    position: relative;
    display: block;
    max-width: 500px;
    padding: 2px;
    height: auto;
    z-index: 1;
    transition: .3s;
}

.project__card-body .pp__img {
    width: 100%;
    border-radius: 10px;
}

.project__card-body .pp__img img {
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    min-height: 100%;
}

.pp__content {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--secondary-color);
    border-radius: 0 0 10px 10px;
}

.pp__content a,
.pp__content p {
    font-size: var(--font-xsm);
    z-index: 1;
    text-transform: capitalize;
}

.pp__content a:hover {
    text-decoration: underline;
}

.project__card-body:hover {
    transform: scale(105%);
    transition: all .3s;
}

/*Testimonials*/
.testinomials {
    position: relative;
    background-color: var(--secondary-color);
    padding-block: clamp(1rem, 2.50vw, 6.25rem);
}

.testinomials .testinomials__slides {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.testinomials .testinomials__slides .slide__width {
    max-width: 100%;
    margin: 0 auto;
    cursor: grab;
}

.bi-quote {
    font-size: var(--font-sm);
}

.client__fb {
    font-size: clamp(16px, 4vw, 24px);
    padding-bottom: var(--margin-sm);
}

.client__detail {
    display: flex;
    flex-direction: column;
    margin: var(--margin-sm);
    line-height: 1;
}

.client__detail > span,
.client__detail i {
    font-size: var(--font-xsm);
    text-transform: capitalize;
}

.client__detail i {
    padding-bottom: 8px;
    font-size: 20px;
}

.client__detail > span:last-child {
    text-transform: uppercase;
    font-weight: 600;
}

/*Actions*/
.actions {
    position: relative;
    padding: clamp(16px, 2.50vw, 100px);
}

.actions .action {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: var(--gap-sm);
}

.side__divder {
    width: 55%;
    height: 2px;
    background-color: var(--light-color);
}

.action .text__data {
    font-size: var(--font-xsm);
    color: var(--light-color-alt);
    text-transform: uppercase;
    font-weight: 100;
}

/*FAQs*/

.faqs {
    padding: clamp(16px, 2.50vw, 100px);
}

.faqs .faqs__clients {
    position: relative;
    width: min(750px, 80%);
}

.faqs .faqs__clients .heading__data {
    font-size: var(--font-xsm);
    font-weight: 400;
}

.faqs .faqs__clients .heading__data::after {
    content: '';
    width: 100%;
    height: 1px;
    background: var(--light-color);
    display: block;
    margin-top: var(--margin-sm);
}

.faqs__list {
    position: relative;
    width: min(400px, 80%);
    margin-top: var(--margin-sm);
}

.faqs__dropdown {
    padding-bottom: var(--margin-sm);
}

.faqs__list button {
    font-size: var(--font-xsm);
    position: absolute;
    right: 0;
    cursor: pointer;
}

.faqs__list h4 {
    font-size: var(--font-xsm);
    font-weight: 400;
    text-transform: capitalize;
    padding-bottom: calc( 0.2 * var(--margin-sm));
}

.faqs__list .faq__items p {
    font-size: var(--font-xsm);
    font-weight: 200;
    color: var(--light-color-alt);
}

.faq__items {
    display: none;
}

.faqs__dropdown.show .faq__items {
    display: block;
}

.faqs__dropdown .faq__menu {
    display: block;
}

.faq__toggle.show .add__btn{
    display: none;
}

.faq__toggle.show .minimize__btn{
    display: block;
}

.faqs__dropdown .minimize__btn {
    display: none;
}


/*Contact Me*/
.contact__me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: clamp(1rem, 2.45vw, 6.25rem);
}
.contact__me .text__data {
    position: relative;
    width: min(760px, 100%);
    font-size: var(--font-xsm);
    border-left: 2px solid var(--light-color);
    padding: 0 var(--margin-sm);
    margin-bottom: var(--margin-sm);
}

.contact__me form {
    position: relative;
    width: min(max(760px), 100%);
    display: flex;
    flex-direction: column;
    padding: var(--margin-sm);
    line-height: 4;
}

.contact__me form input {
    padding: 12px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
}

.contact__me form textarea {
    resize: none;
    background: none;
    outline: none;
    width: 100%;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

::placeholder {
    font-size: calc(0.825 * var(--font-xsm));
    text-transform: capitalize;
}
/*Footer*/

footer {
    position: relative;
    padding: 4rem;
}

footer .ft__main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: clamp(2rem, 15.50vw, 9.375rem);
}

footer .ft__main .ft__heading {
    font-size: var(--font-xsm);
    text-transform: capitalize;
    font-weight: 600;
    color: var(--light-color);
    letter-spacing: 1.5px;
    margin-bottom: 0.5rem;
}

footer .ft__main .ft__nav li {
    line-height: 2;
    font-size: var(--font-xsm);
    color: var(--light-color-alt);
    & a:hover {
        color: var(--light-color);
    }
}

footer .ft__main .ft-social__link {
    line-height: 2;
    font-size: var(--font-xsm);
}

footer .ft__main .social__link .ft-links {
    display: flex;
    gap: 10px;
}

footer .ft__main .social__link p {
    display: flex;
    gap: 10px;
    font-size: var(--font-xsm);
}

footer .copyrights {
    text-align: center;
    margin-top: 2rem;
}
/*Responsive md screen sizes*/
@media (max-width: 900px) {

    body,
    html {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    section {
        padding: 50px 32px;
    }

    .nav__bar {
        padding: 16px;
    }

    .nav__bar .nav__right {
        display: none;
    }

    #menu {
        position: absolute;
        top: 95px;
        display: block;
        width: 20rem;
        right: 5px;
        background-color: var(--secondary-color);
        padding: 50px;
        text-align: center;
        backdrop-filter: blur(8px);
        display: none;
    }

    #menu.activated {
        display: block;
    }

    /* Navbar Js icons affects*/
    .toggle__icons.activated .open__menu {
        display: none;
    }

    .toggle__icons.activated .close__menu {
        display: block;
    }

    .nav__links:last-child {
        display: block;
        color: var(--primary-color);
    }

    .nav__links {
        padding: 1rem;
    }

    .nav__bar .toggle__menu {
        display: block;
    }

    .nav__bar .toggle__menu i {
        font-size: var(--font-lg);
    }

    .nav__bar .close__menu {
        display: none;
    }

    /*banner*/

    .banner {
        padding: 100px 50px;
    }

    .banner__container .banner__content h1 {
        font-size: var(--font-lg);
    }

    .about__me-action .heading__data::after {
        top: 200px;
    }
    
    
    .about__me-action .heading__data::after { 
        top: 50px;
    }

    footer .ft__main {
        justify-content: flex-start;
    }
    
}

