@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    /*    colors*/
    --base-color: rgba(34, 25, 44, 1);
    --primary-color: rgba(88, 157, 245, 1);
    --font-color: rgba(242, 242, 242, 0.8);
    --secondary-color: rgba(154, 127, 40, 1);
    --gradient: linear-gradient(45deg, hsla(192, 80%, 51%, 1) 0%, hsla(355, 70%, 63%, 1) 100%);
    --shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
    /*    spacing*/
    --spacing-unit: 1rem;
    /*    margin*/
    --m: calc(0.5 * var(--spacing-unit));
    /*8px*/
    --m-lg: calc(1 * var(--spacing-unit));
    /*16px*/
    --m-xl: calc(2 * var(--spacing-unit));
    /*32px*/

    /*padding*/
    --p: calc(0.5 * var(--spacing-unit));
    /*8px*/
    --p-lg: calc(1 * var(--spacing-unit));
    /*16px*/
    --p-xl: calc(2 * var(--spacing-unit));
    /*32px*/

    /*    typography*/

    --f-sm: .5rem;
    /*8px*/
    --f-lg: 1rem;
    /*16px*/
    --f-xl: 2rem;
    /*32px*/
}

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    clear: both;
}

section {
    padding: 100px;
}

body {
    box-sizing: inherit;
    background-color: var(--base-color);
    color: var(--font-color);
}

a,
ul,
li {
    list-style: none;
    text-decoration: none;
}

/*navigation*/
nav {
    position: sticky;
    width: 100%;
}

.nav__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--p-xl);
    height: 90px;
    box-shadow: var(--shadow);
    z-index: 1000;
}

.nav__bar .logo {
    width: 70px;
    height: 70px;
    padding: var(--p);
    display: flex;
    justify-content: center;
}

.nav__bar .logo img {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__bar-items {
    display: flex;
    -ms-align-items: center;
    align-items: center;
    gap: 32px;
}

.nav__bar-items a:hover {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    transition: .5s;
}

.nav__bar-items .nav__bar-link {
    font-size: 1rem;
    color: var(--font-color)
}

.nav__bar .email {
    display: flex;
    gap: 10px;
}

.nav__bar .email a {
    font-size: var(--f-xl);
    color: var(--font-color);
}

}
.nav__bar .email a:hover {
    color: var(--primary-color);
    transition: .5s;
}

/*Banner*/
.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(./Images/web__assest/banner-1.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

.banner__text {
    position: relative;
    text-align: center;
}
.banner__text h1 {
    font-size: calc(2.5 * var(--f-xl));
    color: var(--font-color);
    line-height: 1.2;
    font-weight: 700;
}

.banner__text h1 span {
    background: var(--gradient);
    background: linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.banner__text h1::before {
    content: attr(data-heading);
    position: relative;
    display: block;
    color: var(--secondary-color);
    text-transform: capitalize;
    font-size: var(--f-xl);
    line-height: 1;
    background: var(--gradient);
    background: linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

/*Banner social link*/

.banner__text .banner__links {
    text-align: center;
    padding: var(--p-lg);
    margin: var(--m-lg) 0;
}

.banner__text .banner__links a {
    font-size: var(--f-xl);
    margin: 10px;
    color: var(--primary-color);
    transition: .3s;
}

.banner__text .banner__links a:hover {
    color: var(--secondary-color);
    transition: .3s;
}

/*Banner button*/
.banner__text .btn {
    width: 100%;
    height: 50px;
    margin-top: var(--m-xl);
    transition: .3s;
}

.banner__text .btn button {
    width: 120px;
    height: inherit;
    font-size: var(--f-lg);
    letter-spacing: 1.2px;
    font-weight: 500;
    background: var(--gradient);
    border-radius: 10px;
    border: none;
    color: var(--font-color);
    cursor: pointer;
    transition: .3s;
}

.banner__text .btn button:hover {
    margin: -10px 0 0 10px;
    opacity: 0.7;
    transition: .3s;
}

/*Introduction section*/

.dev__intro {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.dev__intro::after {
    content: '';
    top: 50px;
    left: -100px;
    width: 400px;
    height: 400px;
    background: linear-gradient(90deg, hsla(47, 100%, 87%, 0.6) 4%, hsla(18, 82%, 60%, 0.8) 47%, hsla(237, 64%, 56%, 1) 100%);
    border-radius: 50%;
    filter: blur(100px);
    position: absolute;
    z-index: -1;
}

.dev__image {
    width: 480px;
    height: 400px;
}

.dev__image img {
    width: inherit;
    height: inherit;
}

.dev__content {
    max-width: 50%;
    margin: auto;
}

.dev__content h3 {
    font-size: var(--f-xl);
    padding-bottom: var(--p-lg);
    font-weight: 500;
    color: var(--secondary-color);
}

.dev__content p {
    padding-bottom: var(--p-lg);
    font-size: calc(0.635 * var(--f-xl));
    line-height: 1.3;
}

.dev__content p a {
    color: var(--secondary-color);
    font-weight: 600;
}

.dev__content p a:hover {
    text-decoration: underline;
}

/*Skills section*/

.skills {
    position: relative;
    width: 100%;
}

.skills .skill__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: calc(1.5 * var(--m-xl));
    gap: 50px;
}

.skills .skill__container::before {
    content: '';
    width: 300px;
    height: 300px;
    position: absolute;
    background: var(--gradient);
    border-radius: 50%;
    bottom: 10px;
    right: 0;
    filter: blur(120px);
    z-index: -1;
}

.skills h1 {
    text-align: center;
    font-size: calc(1.2 * var(--f-xl));
    color: var(--secondary-color);
    text-transform: uppercase;
}

.skills h1::after {
    content: attr(data-title);
    display: block;
    font-size: var(--f-lg);
    color: var(--font-color);
}

.skills .skill__items {
    width: 300px;
    z-index: 1;
}

.skills .skill__item:nth-child(odd) {
    padding: var(--p);
    margin: var(--m-xl) 0;
    border-left: 3px solid var(--primary-color);
}

.skills .skill__item:nth-child(even){
    padding: var(--p);
    margin: var(--m-xl) 0;
    border-left: 3px solid hsla(18, 82%, 60%, 1);
}

.skills .skill__items h3 {
    text-align: center;
    color: var(--font-color);
    width: 100%;
    text-transform: uppercase;
}

.skills .skill__item::before {
    content: '';
    width: 10px;
    height: 10px;
    background: var(--primary-color);
    position: absolute;
    margin-left: -14.5px;
    margin-top: -14.7px;
    border-radius: 50px;
}

.skills .skill__item:nth-child(2n)::before {
    content: '';
    width: 10px;
    height: 10px;
    background: hsla(18, 82%, 60%, 1);
    position: absolute;
    margin-left: -14.5px;
    margin-top: -14.7px;
    border-radius: 50px;
}

.skills .skill__item .skill__content p {
    font-weight: 600;
    letter-spacing: 1.2px;
    color: var(--primary-color);
    padding-bottom: var(--p);
}


.skills .skill__item .progress-bar {
    position: relative;
    height: 15px;
    width: 100%;
    background-color: var(--font-color);
    display: flex;
    border-radius: 10px;
}

.skills .skill__item .progress-bar .bar {
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.skills .skill__item .progress-bar .bar p {
    text-align: center;
    font-size: calc(1.4 * var(--f-sm));
}

/*Services Container*/
.services__section {
    position: relative;
    display: block;
}

.services__section .heading  {
    text-align: center;
    font-size: calc(1.2 * var(--f-xl));
    color: var(--secondary-color);
    text-transform: uppercase;
}

.services__section .heading::after {
    content: attr(data-heading);
    display: block;
    color: var(--font-color);
    font-size: var(--f-lg);
}

/*Cards*/

.services__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: calc(1.5 * var(--m-xl));
    z-index: 1;
}

.services__wrapper::before {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    background: var(--gradient);
    left: -200px;
    z-index: -1;
    border-radius: 50%;
    box-shadow: 0px 40px 50px 0px rgba(123, 263, 122, 1);
    filter: blur(100px);
}

/*On page service card content*/

.services__wrapper .card__body {
    position: relative;
    max-width: 440px;
    height: auto;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: .3s;
    box-shadow: var(--shadow);
    padding: var(--p);
}

.services__wrapper .card__body:hover {
    background: var(--font-color);
    transform: scale(110%);
}

.services__wrapper .card__body img {
    max-width: 100%;
    height: 330px;
    padding: var(--p);
}


.services__wrapper .card__body .service__btn {
    font-size: var(--f-xl);
    position: relative;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--secondary-color);
    padding-top: var(--p-lg);
}

.card__body .service__detail {
    display: none;
}

.card__body .service__detail {
    padding: var(--p);
}

.model__details .model__btn {
    width: 100%;
    height: 50px;
    transition: .3s;
}

.model__details .model__btn button {
    width: 120px;
    height: inherit;
    font-size: var(--f-lg);
    font-weight: 500;
    background: var(--gradient);
    border-radius: 10px;
    border: none;
    color: var(--font-color);
    cursor: pointer;
    transition: .3s;
    text-transform: uppercase;
    padding: var(--p);
}

.model__details .model__btn button:hover {
    margin: -10px 0 0 10px;
    opacity: 0.7;
    transition: .3s;
}

/*Popup model wrapper and inside content*/

.services__section .model__wrapper {
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--primary-color);
    background: var(--base-color);
    z-index: 1;
    border-radius: 20px;
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    padding: var(--p-lg);
    visibility: hidden;
}


.services__section .model__wrapper.open {
    visibility: visible;
}

.services__section .model__wrapper .close__btn {
    position: absolute;
    color: var(--font-color);
    right: 30px;
    cursor: pointer;
}

.services__section .model__wrapper .close__btn:hover {
    color: var(--secondary-color);
    transform: scale(105%);
}

.services__section .model__wrapper .close__btn span {
    font-size: var(--f-xl);
}

.services__section .model__wrapper .model__inner .model__content .model__thumbnail {
    max-width: 100%;
    height: 250px;
    margin: var(--m-lg);
}


.services__section .model__wrapper .model__inner .model__content .model__thumbnail img {
    width: inherit;
    height: inherit;
}

.services__section .model__wrapper .model__inner {
    padding: var(--p-lg);
}

.services__section .model__wrapper .model__content {
    display: flex;
    padding: var(--p);
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.model__details .service__description {
    padding: 0 20px 20px 0;
}

.model__details .service__items li {
    list-style-image: url(Images/web__assest/check-all.svg);
    list-style-position: inside;
    padding-bottom: var(--p-lg);
}

/*Offers*/

.service__offers {
    position: relative;
    width: 100%;
}

.service__offers p {
    text-align: center;
    font-size: calc(0.9 * var(--f-xl));
    color: var(--secondary-color);
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: var(--m-lg);
}

.service__offers .offer__inner {
    display: inline-flex;
    justify-content: center;
    width: inherit;
    gap: 20px;
}

.service__offers .offer__inner .offer {
    width: 180px;
    text-align: center;
    padding: var(--p);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    line-height: 1.6;
    transition: .3s;
    cursor: pointer;
}

.service__offers .offer__inner .offer:hover {
    background-color: var(--font-color);
    color: var(--base-color);
    transform: scale(110%);
}

.service__offers .offer__inner .offer span {
    font-size: calc(0.8 * var(--f-lg));
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px
}

.service__offers .offer__inner .offer span:nth-child(1) {
    color: var(--secondary-color);
}
