/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/*Basic Properties*/
:root {
    --primary-color: #191919;
    --secondary-color: rgba(48, 47, 47, 0.90);
    --light-color: #FFF;
    --gradient-color: linear-gradient(128deg, #FE78F0 0%, #5D5FEF 100%);
    --after-effect: linear-gradient(134deg, #5D5FEF 0%, #B6B7FB 75.52%, #FE78F0 30%);
    --light-color-alt: rgba(224, 224, 224, 1);
    --glass-color: rgba(224, 224, 224, 0.6);
    --banner-text: linear-gradient(117deg, #39F0F0 0%, #3052CA 35.94%, #8F22BA 79.17%);
    --font-family: 'Poppins', sans-serif;
    /*fonts sizes*/
    --font-xsm: 0.875rem;
    --font-sm: 1.5rem;
    --font-lg: 2.5rem;
    --font-xl: clamp(1rem, 4vw, 3.75rem);
    /*spacing*/
    --gap: 3rem;
    --gap-sm: 1.6rem;
    /*margin*/
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --items-height-sm: 1.6rem;
    --items-height-md: 10rem;
}

*,
::after,
::before {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: var(--font-family);
    color: var(--light-color);
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    font-size: 62.5%;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    scroll-behavior: smooth;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

i {
    color: var(--light-color);
}

img {
    max-width: 100%;
    display: block;
}

input,
button {
    font: inherit;
    background: none;
    border: none;
    outline: none;
}

section {
    padding: 6.25rem;
}

/*Reused Classes*/
.d-sm-none {
    display: none;
}

.text-gradient {
    background: var(--gradient-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.d-md-none {
    display: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.items-center {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.btn {
    width: 180px;
    height: 50px;
    background: none;
    outline: none;
    border: 2px solid var(--light-color);
    -webkit-box-shadow: 8px -8px 0 var(--light-color-alt);
    box-shadow: 8px -8px 0 var(--light-color-alt);
    color: var(--light-color);
    font-size: var(--font-sm);
    font-weight: 300;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
}

.btn:hover {
    background: var(--light-color);
    color: var(--primary-color);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.gradient__heading {
    text-transform: uppercase;
    text-align: center;
    font-size: var(--font-lg);
    font-weight: 700;
    background: var(--gradient-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Gradient border*/

.fancy__border {
    position: relative;
}

.fancy__border::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 10px;
    padding: 2px;
    background: var(--gradient-color);
    -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

/*Navigation*/
.nav__bar {
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: var(--secondary-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 16px 100px;
    line-height: 1.6;
    z-index: 999;
}

.nav__bar .logo {
    width: 150px;
    height: 35px;
}

.nav__bar .logo img {
    width: inherit;
    height: inherit;
}

.nav__bar .nav__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: var(--gap-sm);
}

.nav__bar .nav__items .nav__links {
    text-transform: capitalize;
    font-size: var(--font-xsm);
    color: var(--light-color-alt);
    -webkit-transition: .3s;
    transition: .3s;
}

.nav__bar .nav__items .nav__links:hover {
    color: var(--light-color);
    text-decoration: underline;
}

.nav__bar .nav__items .nav__links.current {
    color: var(--light-color);
}

.nav__bar .nav__right a i {
    font-size: var(--font-sm);
}

