/* import reset.css */
@import url('reset.css');
/* import responsive-typography.css */
@import url('responsive-typography.css');
/* Poppins fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');
/* Playfair Display font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Root variables */
:root {
    --primary-clr: #ffffff;
    --secondary-clr: #2B3137;
    --tertiary-clr: #070707;
    --accent-clr: #2DBA4E;
    --text-clr: var(--primary-clr);
    --text-clr-alt: var(--primary-clr);
    --link-clr: var(--accent-clr);
    --button-clr: var(--secondary-clr);
    --button-text-clr: var(--primary-clr);
    --font-family: 'Poppins', sans-serif;
    --font-family-tertiary: 'Playfair Display', serif;
    /* Spacing variables */
    --spacing-unit: 0.25rem;
    /* 4px */
    --spacing-sm: calc(var(--spacing-unit) * 0.5);
    /* 8px */
    --spacing-md: calc(var(--spacing-unit) * 1);
    /* 16px */
    --spacing-lg: calc(var(--spacing-unit) * 1.5);
    /* 24px */
    --spacing-xl: calc(var(--spacing-unit) * 2);
    /* 32px */
    --spacing-2xl: calc(var(--spacing-unit) * 3);
    /* 48px */
    --spacing-3xl: calc(var(--spacing-unit) * 4);
}

/* add css for header */

header {
    padding: 50px 100px;
    position: fixed;
    background-color: transparent;
    inset: 0;
    z-index: 1000;
    & .nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        & .logo span a {
            font-size: var(--font-size-lg);
            text-transform: uppercase;
            font-weight: 600;
            color: var(--primary-clr);
            letter-spacing: 2px;
            & span {
                color: var(--accent-clr);
            }
        }
        & .nav-items {
            display: inline-flex;
            align-items: center;
            gap: var(--spacing-3xl);
            text-transform: uppercase;
            font-size: var(--font-size-md);
            font-weight: 400;
            transition: .5s;
            & .nav-links a {
                color: var(--primary-clr);
            }
            & .nav-links a:hover {
                color: var(--accent-clr);
                transition: .5s;
                border-bottom: 2px solid var(--accent-clr);
            }
        }
        & .social-links {
            display: inline-flex;
            gap: var(--spacing-3xl);
            font-size: var(--font-size-lg);
            transition: .5s linear;
            & a {
                color: var(--primary-clr);
            }
            & a:hover {
                margin-top: -5px;
                transition: .5s;
                color: var(--accent-clr);
            }
        }
        & .toggle_menu {
            display: none;
            & .toggle-btn {
                cursor: pointer;
            }
        }
    }
}

/*hero section css*/

main {
    /*add main content code here...*/
    & .hero-section {
        height: 100vh;
        background-color: var(--tertiary-clr);
    }
}


/*Responsive Design*/
@media screen and (max-width: 992px) {
    header {
        padding: 20px;
    }

    .nav-bar {
        position: relative;
    }

    .nav-items {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        background-color: var(--secondary-clr);
        flex-direction: column;
        justify-content: center;
        gap: var(--spacing-xl) !important;
        transition: 0.5s ease;
        display: none;
        z-index: 1000;
    }

    .nav-items.active {
        right: 0;
        display: block
    }

    .nav-links a {
        font-size: var(--font-size-lg);
    }

    .nav-items .social-links {
        margin-top: var(--spacing-xl);
        justify-content: center;
    }

    .toggle_menu {
        display: block !important;
        z-index: 1001;
    }

    .toggle-icons {
        color: var(--primary-clr);
        font-size: var(--font-size-xl);
    }

    .close-menu {
        display: none;
    }

    .toggle-icons.active .open-menu {
        display: none;
    }

    .toggle-icons.active .close-menu {
        display: block;
    }

    .social-links {
        display: none !important;
    }
}
