/* import reset.css */
@import url('reset.css');
/* import responsive-typography.css */
@import url('responsive-typography.css');
/* Poppins fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');
/* Playfair Display font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Root variables */
:root {
    --primary-clr: #FAFBFC;
    --secondary-clr: #2B3137;
    --accent-clr: #2DBA4E;
    --text-clr: var(--secondary-clr);
    --text-clr-alt: var(--primary-clr);
    --link-clr: var(--accent-clr);
    --button-clr: var(--secondary-clr);
    --button-text-clr: var(--primary-clr);
    --font-family: 'Poppins', sans-serif;
    --font-family-tertiary: 'Playfair Display', serif;
    /* Spacing variables */
    --spacing-unit: 0.25rem;
    /* 4px */
    --spacing-sm: calc(var(--spacing-unit) * 0.5);
    /* 8px */
    --spacing-md: calc(var(--spacing-unit) * 1);
    /* 16px */
    --spacing-lg: calc(var(--spacing-unit) * 1.5);
    /* 24px */
    --spacing-xl: calc(var(--spacing-unit) * 2);
    /* 32px */
    --spacing-2xl: calc(var(--spacing-unit) * 3);
    /* 48px */
    --spacing-3xl: calc(var(--spacing-unit) * 4);
}

/* add css for header */
header {
    background-color: transparent;
    padding: 50px 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    & .nav_bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 var(--spacing-lg);
    }
    & .nav_links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        gap: var(--spacing-lg);
        font-size: var(--font-size-xs);
        font-weight: 200;
        color: var(--text-clr);
        text-decoration: none;
    }
}

/* add css for hero section */
.hero_section {
    background-color: #000;
    padding: 100px 100px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    & .hero_content {
        text-align: center;
    }
}

