/* import reset.css */
@import url('reset.css');
/* import responsive-typography.css */
@import url('responsive-typography.css');
/* Poppins fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');
/* Playfair Display font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Root variables */
:root {
    --primary-clr: #ffffff;
    --secondary-clr: #2B3137;
    --accent-clr: #2DBA4E;
    --text-clr: var(--primary-clr);
    --text-clr-alt: var(--primary-clr);
    --link-clr: var(--accent-clr);
    --button-clr: var(--secondary-clr);
    --button-text-clr: var(--primary-clr);
    --font-family: 'Poppins', sans-serif;
    --font-family-tertiary: 'Playfair Display', serif;
    /* Spacing variables */
    --spacing-unit: 0.25rem;
    /* 4px */
    --spacing-sm: calc(var(--spacing-unit) * 0.5);
    /* 8px */
    --spacing-md: calc(var(--spacing-unit) * 1);
    /* 16px */
    --spacing-lg: calc(var(--spacing-unit) * 1.5);
    /* 24px */
    --spacing-xl: calc(var(--spacing-unit) * 2);
    /* 32px */
    --spacing-2xl: calc(var(--spacing-unit) * 3);
    /* 48px */
    --spacing-3xl: calc(var(--spacing-unit) * 4);
}

/* add css for header */

header {
    padding: 50px 100px;
    position: fixed;
    background-color: transparent;
    inset: 0;
    z-index: 1000;
    & .logo span {
        font-size: var(--font-size-lg);
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        & span {
            color: var(--accent-clr);
        }
    }
    & .nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        & .nav-items {
            display: inline-flex;
            align-items: center;
            gap: var(--spacing-3xl);
            text-transform: uppercase;
            font-size: var(--font-size-md);
            transition: .5s;

            & .nav-links a:hover {
                color: var(--accent-clr);
                transition: .5s;
            }
        }

        & .social-links {
            display: inline-flex;
            gap: var(--spacing-3xl);
            font-size: var(--font-size-lg);
        }
    }
}